/* ESTILOS GERAIS */
body {
  display: grid;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: #535217;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-content: center;
  gap: 0px 100px;
  padding: 15px 50px 15px 50px;
  border-bottom: 1px solid transparent;
  /* talvez */
  /*height:50px;*/
}

header:hover {
  border-color: #53521723;
}

.tituloProjeto{
  margin-top: 100px;
  font-size: xx-large;
}

main{
  display: grid;
  justify-items: center;
}

.paragrafo{
  padding: 30px 200px 50px 200px;
  font-size: x-large;
}