.direitos {
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  background-color: #84967a;
  height: 26px;
  width: 100%;
  color: white;
  text-align: center;
}

.direito p {
  box-sizing: border-box;
  padding-bottom: 5px;
}