.rodape {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  background-color: #2d4d30;
  height: 270px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  color: #c0bcbc;
  background-image: url(./leavesfooter.png);
  background-repeat: no-repeat;
}

.rodape ul {
  margin-top: 20px;
}

.rodape li {
  margin-bottom: 5px;
}

.rodape a {
  color: #c0bcbc;
}

.logoUNISAGRADO img {
  margin: 25px 0px;
  margin-left: 150px;
}

.social {
  margin-top: 30px;
}

.footerMenu {
  margin-top: 30px;
  line-height: 1.3rem;
}

.footerMenu ul li a:hover {
  color: #000000;
}

.socialIcon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialIcon a:hover {
  color: #000000;
}