.rodape {
  font-family: "Roboto", sans-serif;
  background-color: #1b2e1d;
  height: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  color: #c0bcbc;
}

.rodape ul {
  margin-top: 20px;
}

.rodape li {
  margin-bottom: 5px;
}

.rodape a {
  color: #c0bcbc;
}

.logoUNISAGRADO {
  width: 40%;
  height: 100%;
}

.social {
  margin-top: 50px;
}

.footerMenu {
  margin-top: 50px;
}